/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    font-family: 'Roboto', sans-serif;
} */

header {
    background: linear-gradient(white, pink);
    /* background-color: orange; */
    padding: 16px;
    border-bottom: 1px solid black;
}

/* #nav-p {
    padding: 16px;
    border-bottom: 1px solid black; } */

a:hover {
    color: green;
}

h1 {
    color: green
}

a:link {
    text-decoration: none;
}

a {
    color: green
}

/* a:visited {
    text-decoration: none;
} */

tr:nth-child(even) {background:lightgrey}

.div5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px
    }

main {
    padding: 16px
}

footer {
    /* ADD COLOR color-scheme: green; */
    /* position: sticky; */
    bottom: 0px;
    padding-top: 24px;
    padding-bottom:24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(181, 208, 102);
    }

#img-p {
    height: 200px
}
